{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
<div class="row">
  <div class="col-md-8">

    <nav class="p-crumb">
      <ol class="breadcrumb">
        <li><a href="{{ .Site.BaseURL }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        {{ with .Section }}
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/" itemprop="url"><span itemprop="title">{{ . }}</span></a></li>
        {{ end }}
        <li class="active">{{ .Title }}</li>
      </ol>
    </nav>

    {{ .Render "summary" }}

    {{ template "_internal/disqus.html" . }}
  </div>

  <div class="col-md-4">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}
