{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "main" }}
<div class="row">
  <div class="col-md-8">

    <header class="page-header">
      <h1>{{ .Title }}</h1>
    </header>

    <section class="panel panel-default">
      <div class="list-group">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms }}
        <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $key | urlize }}" class="list-group-item">{{ $key }} <span class="badge">{{ len $value }}</span></a>
        {{ end }}
      </div>
    </section>
  </div>

  <div class="col-md-4">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}

